.ModuleDashboard {
  padding: 20px;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Module_Container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 96%; 
  max-width: 1550px; 
  min-height: 85vh;
  margin-left: 10px; 
}

.StudyHabitsSection {
  text-align: center;
  margin-bottom: 30px;
}

.HabitsContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.HabitCard {
  background: #d4ccf6;
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  text-align: center;
  margin-top: 20px;
  height: 100px;

  display: flex; 
  align-items: center;  
  justify-content: center; 
}


.Module_Container h1 {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 15px 0;
  width: 100%;
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
}

.Module_Grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.ModuleCard {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 340px; 
}

.ModuleImage {
  width: 200px;
  height: 140px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}

.ProceedBtn {
  background-color: #002ead;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
