* {
	margin: 0;
	padding: 0;
}
.body {
	font-family: Consolas, sans-serif;
	box-sizing: border-box;
}
.Header {
	grid-area: Header;
	background-color: #002f87;
	display: flex;
}
.MainContainer {
	display: flex;
	flex-direction: column;
	height: 100svh;
	width: 100vw;
}
.Content_Wrapper {
	flex: 1;
	display: flex;
}

.Content {
	width: 100%;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 25px;
	font-style: initial;
	margin: 10px 10px;
	margin-left: 10px;
	font-size: 1.2em;
	height: 1000px;
}
/* ================= MODULES SECTION ================= */
.moduleContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1500px;
	gap: 10px;
	margin: -50%;
}
/* Module Grid */
.ModuleGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Spreads modules */
	width: 100%;
	gap: 20px;
}
.ModuleGrid p {
	padding: 15px;
	display: flex;
	justify-items: center;
	text-align: center;
}

/* Individual Module Card */
.moduleCard {
	flex: 1;
	max-width: 300px; /* Prevents cards from getting too big */
	padding: 15px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin-top: 50px;
	margin-left: 20px;
}

/* Module Image */
.moduleImage {
	width: 100%;
	height: 150px;
	background-color: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	overflow: hidden;
	margin: 10px 0;
}

.moduleImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

/* Proceed Button */
.proceedBtn {
	background-color: #002c77;
	color: white;
	padding: 8px 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial;
	transition: background-color 0.3s;
}

.proceedBtn:hover {
	background-color: #001a4d;
}
.Greeting_Dashboard {
	display: flex;
	justify-content: flex-start;
	padding: 15px;
	border-bottom: 0.5px solid #333;
}
@media (max-width: 1000px) {
	.HabitsContainer {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.HabitCard {
		flex: 1;
		background: white;
		padding: 15px;
		border-radius: 8px;
		text-align: center;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
		font-size: 10px;
		width: 50px;
		min-width: 200px;
		height: 100%;
		gap: 10px;
		margin: 10px;
	}
}
