
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.Container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    margin-top: 120px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
}

.Container h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    margin-bottom: 30px;
}

.Container form {
    display: flex;
    flex-direction: column;
    
}

.Container label {  
    margin-bottom: 20px;
    font-weight: bold;
    color: #555;
    font-size: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.Submit{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-bottom: 15px;
}