* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Consolas, sans-serif;
	box-sizing: border-box;
}
.Maincontainer {
	width: 100svw;
	height: 100svh;
	display: flex;
	flex-direction: column;
}

.Content_Wrapper {
	flex: 1;
	display: flex;
}

.Header {
	grid-area: Header;
	background-color: #002f87;
	display: flex;
}

.Menu {
	grid-area: Menu;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-items: flex-start;
	width: 100%;
	color: black;
	top: 0;
	left: 0;
}
.Menu ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	gap: 8%;
	margin-top: 80px;
}
.Menu ul li {
	display: flex;
	justify-content: flex-start;
	text-align: center;
	margin-left: 10px;
	padding: 5px 10px;
	font-size: 24px;
	cursor: pointer;
	outline: none;
	color: #000;
	background: #f4f4f4;
	border: none;
}

.Menu ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	font-size: 50%;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.Menu span {
	font-size: 15px;
}

.Menu img {
	margin: 0 auto;
	width: 50px;
	height: 40px;
}
.Sidebar_Icon {
	margin: 0 auto;
	width: 50px;
	height: 40px;
	display: flex;
	justify-content: center;
}
.Sidebar_Item {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
	gap: 10px;
}
.Content {
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 25px;
	font-style: initial;

	font-size: 1.2em;
	min-height: 100vh;
	width: 100%;
}
/* Main Container */
.List_Container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	border-radius: 8px;
	overflow: hidden;
	width: 80vw;
	height: auto;
	background: #ffffff;
	margin-top: 140px;
	margin-left: 50px;
	border: 2px solid #002f87;
	padding: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Section */
.Greeting_Accountlist {
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	border-bottom:  solid 1px rgb(187, 182, 182);
	margin-bottom: 20px;
}

/* Filter Section */
.Filter_Section {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
}

/* Search Input */
.Role_Container {
	display: flex;
	align-items: center;
	gap: 10px; 
	margin-top: 10px;
	height: 30px !important; 
}
.Role_Container h2 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center; 
	margin-top: 5px; 
}
.Search_Container {
	display: flex;
	align-items: center; 
	gap: 10px;
}

.Search_Container h2 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center; 
	margin-top: 10px; 
}

.Search_Input {
	height: 30px; 
	padding: 8px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

.Search_Input:focus {
	border-color: #002f87;
	box-shadow: 0px 0px 5px rgba(0, 47, 135, 0.3);
}

/* Role Dropdown */
.Role_Dropdown {
	width: 200px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.Role_Dropdown:hover,
.Role_Dropdown:focus {
	border-color: #002f87;
}

/* Create Button */
.Create_Button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	margin-top: 10px;
}



/* Table Styles */
.Table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-left: -8px;
	font-size: 1em;
	border-radius: 5px;
	overflow: hidden;
}

.Table thead tr {
	background: #002f87;
	color: #fff;
	width: 100%;
}

.Table th {
	padding: 12px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.Table th:hover {
	background: #004ab3;
}

.Table td {
	padding: 12px;
	border: 1px solid #ccc;
}

/* Center Alignment for Profile Column */
.Table td.center {
	text-align: center;
}

/* No Accounts Message */
.No_Accounts {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.No_Accounts p {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}

/* Delete Button */
.Delete_Button {
	background: #dc3545;
	color: #fff;
	padding: 10px 16px; /* Increased padding */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-size: 14px; /* Increased font size */
}

.Delete_Button:hover {
	background: #b02a37;
	transform: scale(1.05);
}

@media (max-width: 1000px) {
	.Greeting_Accountlist h1{
		font-size: 1em;
		
	}
	.Search_Input {
		display: flex;
		justify-content: center;
		height: 30px;
		padding: 4px 6px;
		border: 0.5px solid #ccc;
		border-radius: 3px;
		font-size: 10px;
		outline: none;
		font-family: Arial, Helvetica, sans-serif;
	}
	.Search_Container {
		display: flex;
		justify-content: center;
		align-items: center; 
		gap: 5px; 
	}
	.Search_Container h2{
		font-size: 0.7em;
	}
	.Create_Button {
		background-color: #007bff;
		color: white;
		border: none;
		border-radius: 5px;
		width: 200px;
		height: 35px;
		cursor: pointer;
		font-size: 0.7em;
		font-weight: bold;
		transition: all 0.3s ease-in-out;
		margin-top: 10px;
	}
	
	.Filter_Section {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		margin-bottom: 20px;
		margin-top: -10px;
		padding: 10px;
		border-bottom: 1px solid #ccc;
		font-family: Arial, Helvetica, sans-serif;
	}
	.Role_Container h2 {
		font-size: 0.7em;
	}
	.Role_Dropdown {
		width: 150px;
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fff;
		font-size: 0.7em;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		transition: all 0.3s ease-in-out;
	}
	.Table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
		font-size: 0.5em;
		border-radius: 5px;
		overflow: hidden;
	}
	.Delete_Button {
		background: #dc3545;
		color: #fff;
		padding: 10px 10px; /* Increased padding */
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		font-size: 0.7em; /* Increased font size */
	}
	.Maincontainer{
		width: 100%;
	}
}
@media (max-width: 375px) {
.Maincontainer{
	display: flex;
	width: 100%;
}
.Content_Wrapper{
	width: 100%;
}
.Search_Input {
	display: flex;
	justify-content: center;
	height: 30px;
	padding: 4px 6px;
	border: 0.5px solid #ccc;
	border-radius: 3px;
	font-size: 5px;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Search_Container {
	display: flex;
	justify-content: center;
	align-items: center; 
	gap: 5px; 
}
.Search_Container h2{
	font-size: 0.7em;
}
.Create_Button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 35px;
	cursor: pointer;
	font-size: 0.7em;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	margin-top: 10px;
}

.Filter_Section {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	margin-bottom: 20px;
	margin-top: -10px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
}
.Role_Container h2 {
	font-size: 0.7em;
}
.Role_Dropdown {
	width: 100px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease-in-out;
}
.Table {
	width: 80%;
	border-collapse: collapse;
	margin-top: 20px;
	font-size: 0.5em;
	border-radius: 5px;
	overflow: hidden;
}
.Delete_Button {
	background: #dc3545;
	color: #fff;
	padding: 10px 10px; /* Increased padding */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-size: 0.7em; /* Increased font size */
}
}