.header {
    width: 100%;  
    background-color: #002f87;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-content {
    display: flex;
    width: 100%;  
    max-width: 1200px;  
  }
  .header-logo img {
    height: 50px;   
    width: auto;     
    max-width: 180px; 
  }
  .List_Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 2px solid #ddd; 
    border-radius: 8px;
    overflow: hidden;
    width: 80vw; 
    height: auto; 
    background: #ffffff;
    margin-top: 140px;
    margin-left: 50px ;
    border: 2px solid #002f87; }

  .Greeting_Accountlist {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    font-style: initial;
    margin: 10px 10px;
    margin-left: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #333;
  }
  
  .greeting-studentlist {
    margin: 10px 220px;
  margin-left: 20px;
 padding: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #333;
  }
  
  .Container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%; 
    background: #f7f9fc;
    border-radius: 8px;
    flex-grow: 1; 
    overflow: auto; 
    box-sizing: border-box;
}
  
  .Search_Input {
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  }
.Filter_Input{
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}
  
  .Table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .Table th {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eef2f7;
    color: #333;
    
  }
  
  .Table td {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .table td.center {
    text-align: center;
  }
  
  .no-students {
    padding: 10px;
    text-align: center;
    color: #999;
  }

 .No_Accounts
 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.Create_Button {
  background-color: #002f87;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 10%;
}