.footer {
	background-color: #002f87;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.footer > ul {
	list-style: none;
	color: rgb(255, 255, 252);
}

.footer > ul > h2 {
	font-weight: bold;
	color: rgb(247, 216, 46);
}

.Logo_Wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	color: rgb(255, 255, 252);
}

.Logo_Wrapper {
	color: rgb(255, 255, 252);
	font-size: 0.8rem;
}
.Logo_Wrapper > img {
	height: 50px;
	width: auto;
	max-width: 180px;
}
