.footer {
	background-color: #002f87;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	height: auto;
}

.footer > ul {
	list-style: none;
	color: rgb(255, 255, 252);
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.footer > ul > li {
	font-size: 0.8rem;
}

.footer > ul > li > a {
	font-size: 0.8rem;
	color: rgb(255, 255, 252);
}

.Logo_Wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	color: rgb(255, 255, 252);
}

.Logo_Wrapper {
	color: rgb(255, 255, 252);
	font-size: 0.8rem;
}
.Logo_Wrapper > img {
	height: 50px;
	width: auto;
	max-width: 180px;
}
@media (max-width: 800px) {
	.footer > ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 5px;
	}
   
        .footer > ul > li {
            font-size: 0.6rem;
        }
        
        .footer > ul > li > a {
            font-size: 0.6rem;
            color: rgb(255, 255, 252);
        }
}
