.nav {
	/* background-color: red; */
	width: auto;
	height: auto;
	border-right: solid 1px rgb(187, 182, 182);
	top: 10;

}

.ul {
	list-style: none;
	position: sticky;
}
.ul > h3 {
	margin: 10px;
	color: rgb(128, 128, 128);
}

.ul > hr {
	border: none;
	border-top: dashed 1px rgb(187, 182, 182);
}

.ul > .li {
	transition: background-color ease-in-out 100ms;
	background-color: transparent;
	display: flex;
	gap: 10px;
	justify-items: start;
	align-items: center;
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
}
.uls > .li {
	transition: background-color ease-in-out 100ms;
	background-color: transparent;
	display: flex;
	gap: 10px;
	justify-items: start;
	align-items: center;
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
}
.li:hover {
	transition: background-color ease-in-out 100ms;
	background-color: rgb(224, 224, 224);
	cursor: pointer;
}

.a {
	font-size: 1.1rem;
	text-decoration: none;
	color: black;
}
@media (max-width:800px) {
	.a {
		display: none;
	}
	.ul > h3 {
		display: none;
	}
}
