.header {
    width: 100%;  /* Full width */
    background-color: #002f87;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Adjust header content to fit properly */
  .header-content {
    display: flex;
    width: 100%;  
    max-width: 1200px;  
  }
  /* Image styling */
  .header-logo img {
    height: 50px;   
    width: auto;     
    max-width: 180px; 
  }
  .List-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 2px solid #ddd; 
    border-radius: 8px;
    overflow: hidden;
    margin: 25px auto; 
    width: 1550px; 
    height: auto; 
    background: #ffffff;
    margin-top: 300px;
    margin-left: 100px ;
}
  
  .greeting-studentlist {
    margin: 10px 220px;
  margin-left: 20px;
 padding: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #333;
  }
  
  .sidebar {
    width: 10%;
    background-color: #F4F4F4;
    position: fixed;
    height: 100%;
    color: black;
    top: 0;
    left: 0;
    margin-top: 3.5%;
    padding-top: 20px;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: center;
    margin-left: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.sidebar img {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  .container {
    padding: 20px;
    width: 100%; /* Adjust width to fill the parent container */
    margin: 0; /* Remove margin to avoid extra spacing */
    background: #f7f9fc;
    border-radius: 8px;
    flex-grow: 1; /* Ensure it expands with the parent container */
    overflow: auto; /* Add scrolling if the content overflows */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}
  
  .search-input {
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .table th {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eef2f7;
    color: #333;
    font-size: 1.3em;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .table td.center {
    text-align: center;
  }
  
  .no-students {
    padding: 10px;
    text-align: center;
    color: #999;
  }