.body {
	display: flex;
	flex-wrap: wrap;
}
.Header {
	grid-area: Header;
	background-color: #002f87;
	display: flex;
}
.Header img {
	margin-left: 10px;
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
.Maincontainer {
	display: flex;
	flex-direction: column;
	height: 100svh;
	width: 100vw;
}
.Content_Wrapper {
	flex: 1;
	display: flex;
}

.Content {
	padding: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 25px;
	font-style: initial;
	margin: 10px 10px;
	font-size: 1.2em;
	width: 100%;
}

.Table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	margin-top: 10px;
	font-size: 1.2em;
}

.Table th {
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	border: 1px solid #ccc;
	background: #eef2f7;
	color: #333;
	font-size: 1em;
}

.Table td {
	padding: 10px;
	border: 1px solid #ccc;
}

.Table td.center {
	text-align: center;
}

.No_Students {
	padding: 10px;
	text-align: center;
	color: #999;
}
.Greeting_Studentlist {
	display: flex;
	justify-content: flex-start;
	padding: 15px;
	border-bottom: 0.5px solid #333;
}

.Greeting_Studentlist h1 {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 0px;
}
.Content h2 {
	display: flex;
	font-size: 1em;
	color: #333;
	margin-top: 15px;
}
.Container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	width: 100%;
	margin: 0;
	background: #f7f9fc;
	border-radius: 8px;
	flex-grow: 0;
	overflow: auto;
	box-sizing: border-box;
}
.Search_Container {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 300px;
}
.Input{
	display: flex;
	
}

.buttons {
	width: 100%;
	padding: 12px;
	background-color: #032a6e;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	transition: background-color 0.3s;
}
.buttons:hover {
	background-color: #3e3e3c;
}
@media (max-width: 1000px) {
	.Greeting_Studentlist {
		display: flex;
		justify-content: flex-start;
		padding: 15px;
		border-bottom: 0.5px solid #333;
	}
	.Greeting_Studentlist h1 {
		font-size: 1.3em;
		color: #333;
		margin-bottom: 0px;
	}
	.Table {
		width: 80%;
		border-collapse: collapse;
		text-align: center;
		margin-top: 20px;
		font-size: 0.6em;
	}

	.Table th {
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px;
		border: 1px solid #ccc;
		background: #eef2f7;
		color: #333;
		font-size: 0.5em;
	}
	Buttons {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 6px;
		background-color: #032a6e;
		color: white;
		border: none;
		border-radius: 10px;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	.Content {
		border-left: 0px;
		padding: 5px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		font-style: initial;
		margin: 10px 10px;
		font-size: 1.2em;
		width: 80%;
	}
	.Input{
		
		width: 100%;

	}
	.Content_Wrapper {
		
		display: flex;
	}
	.Table td {
		font-size: 0.9em;
	}
}

@media (max-width: 600px) {
	.Greeting_Studentlist {
		display: flex;
		justify-content: flex-start;
		padding: 15px;
		border-bottom: 1px solid #333;
	}
	.Greeting_Studentlist h1 {
		font-size: 1em;
		color: #333;
		margin-bottom: 0px;
	}
	.Menu ul {
		display: flex;
		flex-direction: row;
		height: 5px;
		justify-content: center;
		gap: 5%;
	}
	.Menu ul li {
		display: flex;
		flex-direction: row;
		height: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.Menu img {
		margin: 0 auto;
		width: 20px;
		height: 20px;
	}
	.Menu span {
		font-size: 10px;
	}
	
	
		.Table {
			width: 70%;
			border-collapse: collapse;
			text-align: center;
			margin-top: 20px;
			font-size: 0.6em;
		}
	
		.Table th {
			font-family: Arial, Helvetica, sans-serif;
			padding: 10px;
			border: 1px solid #ccc;
			background: #eef2f7;
			color: #333;
			font-size: 0.9em;
		}
		Buttons {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 6px;
			background-color: #032a6e;
			color: white;
			border: none;
			border-radius: 10px;
			font-size: 12px;
			font-family: Arial, Helvetica, sans-serif;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		.Content {
			padding: 10px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			font-size: 25px;
			font-style: initial;
			margin: 10px 10px;
			margin-left: 1px;
			font-size: 1.2em;
			width: 70%;
		}
		
		
		.Content_Wrapper {
			display: flex;
		}
		.Table td {
			font-size: 0.9em;
		}
	}
	
	@media (max-width: 405px) {
		.Maincontainer{
			width: 100%;}
		.Greeting_Studentlist {
			display: flex;
			justify-content: flex-start;
			padding: 15px;
			border-bottom: 0.5px solid #333;
		}
		.Greeting_Studentlist h1 {
			font-size: 1em;
			color: #333;
			margin-bottom: 0px;
		}
		.Maincontainer {
			display: flex;
			flex-direction: column;
			height: 100svh;
			width: 100vw;
		}
		.Menu ul {
			display: flex;
			flex-direction: row;
			height: 5px;
			justify-content: center;
			gap: 5%;
		}
		.Menu ul li {
			display: flex;
			flex-direction: row;
			height: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.Menu img {
			margin: 0 auto;
			width: 20px;
			height: 20px;
		}
		.Menu span {
			font-size: 10px;
		}
		
		
			.Table {
				width: 70%;
				border-collapse: collapse;
				text-align: center;
				margin-top: 20px;
				margin-left: -10px;
				font-size: 0.6em;
			}
		
			.Table th {
				font-family: Arial, Helvetica, sans-serif;
				padding: 5px;
				border: 1px solid #ccc;
				background: #eef2f7;
				color: #333;
				font-size: 0.9em;
			}
			Buttons {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 6px;
				background-color: #032a6e;
				color: white;
				border: none;
				border-radius: 10px;
				font-size: 12px;
				font-family: Arial, Helvetica, sans-serif;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			.Content {
				padding: 5px;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				font-style: initial;
				margin: 10px 10px;
				font-size: 1.2em;
				width: 100%;
			}
			
			.Content_Wrapper {
				flex: 1 ;
				display: flex;
			}
			.Table td {
				font-size: 0.9em;
			}
		}
		@media (max-width: 320px) {
			.Greeting_Studentlist {
				display: flex;
				justify-content: flex-start;
				padding: 15px;
				border-bottom: 0.5px solid #333;
			}
			.Greeting_Studentlist h1 {
				font-size: 1em;
				color: #333;
				margin-bottom: 0px;
			}
			.Menu ul {
				display: flex;
				flex-direction: row;
				height: 5px;
				justify-content: center;
				gap: 5%;
			}
			.Menu ul li {
				display: flex;
				flex-direction: row;
				height: 5px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.Menu img {
				margin: 0 auto;
				width: 20px;
				height: 20px;
			}
			.Menu span {
				font-size: 10px;
			}
			
			
				.Table {
					width: 70%;
					border-collapse: collapse;
					text-align: center;
					margin-top: 20px;
					font-size: 0.6em;
				}
			
				.Table th {
					font-family: Arial, Helvetica, sans-serif;
					padding: 3px;
					border: 1px solid #ccc;
					background: #eef2f7;
					color: #333;
					font-size: 0.6em;
				}
				.Table td {
					font-size: 0.9em;
				}
				Buttons {
					display: flex;
					flex-direction: column;
					width: 100%;
					padding: 6px;
					background-color: #032a6e;
					color: white;
					border: none;
					border-radius: 10px;
					font-size: 12px;
					font-family: Arial, Helvetica, sans-serif;
					cursor: pointer;
					transition: background-color 0.3s;
				}
				.Content {
					border-left: 0px;
					padding: 5px;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					font-style: initial;
					margin: 10px 10px;
					font-size: 1.2em;
					width: 80%;
				}
				
				.Content_Wrapper {
					flex: 1;
					display: flex;
				}
			}
.Search_Container {
	display: flex;
	align-items: center;
	gap: 8px; /* Adjust spacing between h2 and input */
}

.Search_Container h2 {
	margin: 0; /* Remove default margin */
	font-size: 1em; /* Adjust font size if necessary */
}

.Search_Input {
	width: 100px; /* Adjust width */
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

