.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 180px; /* Adjust based on sidebar width */
    padding-top: 90px;
}

.schedule-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  background: #04519e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #0e39a6;
  font-weight: bold;
  color: white;
}

input {
  width: 100%;
  border: none;
  text-align: center;
}

