.Student_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    background-color: #d7e1eb;
    height: 100vh;
    color: black;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;

  }
  .Student_sidebar li{
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50%;
  }
  .Student_sidebar ul {
    list-style-type: none;
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
}
  .Student_sidebar ul li span{
    text-decoration: none;
    color: rgb(82, 12, 12);
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Student_sidebar img {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center images */
    width: 32px; /* Set desired width */
    height: 32px; /* Set desired height */
    object-fit: contain; /* Ensures images fit within bounds */
  }
  