body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.sidebar {
  width: 10%;
  background-color: #F4F4F4;
  position: fixed;
  height: 100%;
  color: black;
  top: 0;
  left: 0;
  margin-top: 3.5%;
  padding-top: 20px;
  text-align: center; /* Center align text and images */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 20px;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: #002f87;
  padding: 10px;
  color: white;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
}

.header h1 {
  margin: 0;
  font-size: 1.5em; /* Adjusted for better readability */
  display: inline-block; /* Added to keep the title inline */
}

.header img {
  float: right; /* Float images to the right */
  margin-left: 1%; 
  margin-right: 2%;/* Add some space between images */
  width: 2%;
  height: 2%;
}

.module-container  {
  margin-left: 10%;
  padding: 20px;
  margin-top: 80px;
}

.instructions {
  background-color: yellow;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.module {
  background-color: white;
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.module:hover {
  transform: scale(1.05);
}

/* Placeholder for course images */
.module.placeholder {
  width: 100%;
  height: 150px;
  background-color: lightgray;
  margin-bottom: 10px;
  border-radius: 5px;
}

.module img {
  width: 100%;
  height: 200px;
  background-color: #ccc;
}

.proceed-btn {
  background-color: yellow;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.proceed-btn:hover {
  background-color: #ffcc00;
}

.sidebar img {
  display: block;
  margin: 0 auto; /* Center images */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 20%;
  }

  .container  {
    margin-left: 20%;
  }

  .module-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
    padding-top: 0;
  }

  .module-container  {
    margin-left: 0;
    margin-top: 120px;
  }

  .module-grid {
    grid-template-columns: 1fr;
  }

  .header img {
    width: 5%;
    height: 5%;
  }
}